h1 {
    color: orange;
    background-color: slategrey;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial;
    text-align: center;
}

p {
    color: slategrey;
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 2;
    column-gap: 30px;
}

ul {
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    /* border: 4px solid crimson; */
    border-bottom: 4px dotted crimson;
    border-left: 8px dashed #455c3fa9;
}

li {
    list-style-type: none;
    /* text-shadow: 2px 2px lightgray; */
    text-shadow: 2px 2px #e9e9e9;
}

span {
    /* display: block; */
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

div {
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}