/*// BASE STYLES //*/

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass,
.sky,
.road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/

.mario {
    position: absolute;
    top: -50px;
    left: 0;
    animation: drive 3s both infinite linear,
                jump 0.3s 1.2s ease;
}

.luigi {
    position: absolute;
    top: 55px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-timing-function: ease;
}

.cloud {
    position: absolute;
}

.cloud:nth-child(1) {
    width: 200px;
    top: 100px;
    opacity: 0.5;
    animation: wind 80s linear infinite reverse;
    -webkit-animation:;
}

.cloud:nth-child(2) {
    width: 300px;
    top: 0px;
    animation: wind 50s linear infinite reverse;
    -webkit-animation:;
}

/*// KEYFRAMES //*/

@keyframes drive {
    from {
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
}
    to {
        transform: translateX(1000px);
        -webkit-transform: translateX(1000px);
        -moz-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        -o-transform: translateX(1000px);
}
}

@keyframes wind {
    from {
        left: -300px;
    }
    to {
        left: 100%;
    }
}

@keyframes jump {
    0% {
        top: -50px;
    }

    50% {
        top: -100px;
    }

    100% {
        top: -50px;
    }
}
